*{
    line-height: 50px;
}

h1{
    font-size: 62;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(206, 212, 245);
    margin-top: 5px;
    text-shadow: 4px 4px #000000;
}

marquee{
    font-weight: 800;
    color: white;
    text-shadow: 1px 1px #000000;
}

