*{
    align-items: center;
}

a{
    color: #282c34;
    text-decoration: none;
    font-size: large;
    line-height: 80px;
    border-style: solid;
    padding: 20px;
    background-color: #abb2bf;
    border-radius: 7px;
}