*{
    background-color: #4c566a;
    color: white;
    text-shadow: 1px 1px black;
}

b{
    font-family: 'Times New Roman';
    text-decoration: underline;
    font-size: 30px;
    background-color: #2e3440;
}

pre{
    border: solid;
    font-family: 'Times New Roman';
    background-color: #2e3440;
    border-radius: 8px;
}

h1{
    font-family: monospace;
    font-size: 50px;
}

p{
    color: #2e3440;
    font-size: 50;
    font-family: 'Times New Roman';
    font-weight: 400;
    border: solid;
    background-color: #d8dee9;
}