
body {
    background-image: url("SSPSmoradabad.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

p{
  font-size: 30px;
  color: white;
  border: solid;
  font-weight: 300;
}